<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="index/header::head"/>
<head>
    <link rel="stylesheet" th:href="@{/static/comp/icheck-1.x/skins/all.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/common_plan.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/guideList.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/searchpage.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/header.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/page.css}"/>
    <title> 在线导游 </title>
</head>
<body>

<div th:include="index/header :: header_other"/>

<div th:include="index/header :: login"/>

<div th:include="index/header :: register"/>

<!-- 有城市 -->
<div style="background:no-repeat 0% 80%;background-size: cover;height:400px;width:100%;position:relative;margin-bottom:25px;">
    <img th:src="@{/static/images/index/db.jpg}" style="height:400px;width:100%"/>

    <div class="city_div">
        <div class="list_city_info">
            大阪
        </div>
    </div>


    <div class="city_nav_layar">
    </div>

    <div class="city_nav_content">
        <div class="city_nav_content-inner">
            <ul class="city-nav">
                <li class="cur">
                    <a>16个案例</a>
                </li>
                <li>
                    <a>7项当地服务</a>
                </li>
                <div class="show-city" onclick="showCity();">

                    <a href="javascript:showCity();" class="header-a selectCity" style="float: right;color: #FFF;padding: 20px 25px;">
                        更多城市&nbsp;
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div style="height:50px"></div>

                    <div class="div_11" style="display: none;">
                        <div class="citylines"></div>
                        <div class="div_2" style="border-top: 0px solid #e9e9e9;">
                            <a href="http://xianbei.cc/guide/list?city=13">
                                <div class="city"><span style="color:#666666">简欧</span></div>
                            </a>
                            <a href="http://xianbei.cc/guide/list?city=40">
                                <div class="city center"><span style="color:#666666">日式</span></div>
                            </a>
                            <a href=".">
                                <div class="city"><span style="color:#666666">地中海</span></div>
                            </a>
                        </div>
                        <div class="div_2">
                            <a href="http://xianbei.cc/guide/list?city=45">
                                <div class="city"><span style="color:#666666">新中式</span></div>
                            </a>
                            <a href="http://xianbei.cc/guide/list?city=50">
                                <div class="city center"><span style="color:#666666">田园</span></div>
                            </a>
                            <a href="http://xianbei.cc/guide/list?city=1">
                                <div class="city"><span style="color:#666666">美式</span></div>
                            </a>
                        </div>
                        <div class="div_2">
                            <a href="http://xianbei.cc/guide/list?city=69">
                                <div class="city"><span style="color:#666666">古典</span></div>
                            </a>
                            <a href="http://xianbei.cc/guide/list?city=31">
                                <div class="city center"><span style="color:#666666">欧式</span></div>
                            </a>
                            <a href="http://xianbei.cc/guide/list?city=48">
                                <div class="city"><span style="color:#666666">北欧</span></div>
                            </a>
                        </div>
                        <div class="citylines"></div>
                        <div style="text-align: center;height: 45px;line-height: 45px;border-top: 1px solid #e9e9e9;">
                            不确什么风格？我们为您
                            <a href="http://xianbei.cc/plan/create" style="color:#ff5a5f">设计定制</a></div>
                    </div>
                </div>
            </ul>
        </div>

    </div>

</div>

<div class="container">
    <!-- no-->
    <div id="middle">

        <input id="city" value="46" type="hidden"/>

        <!--搜索列表-->
        <div class="collection">

            <ul class="collect-list list-unstyled">

                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a th:href="@{detail}">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/990_3ctpTzqF47.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">
                                        介绍：三年前通过邻居推荐，找到御梵景观为我设计花园，从前期的设计沟通、设计方案确认、花园施工及后期的养护管理让我非常满意，我们出国旅游进行养护托管，御梵很负责...
                                    </span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>标题：700平梦境花园设计</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    面积：<b>日系风格</b>
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    类型：<b>日系，简约</b>
                                </div>
                                <div class="hr-line"></div>

                                <div class="price-lables">
                                    <div class="price-lable">参考价格 <b>1000</b> 元/例</div>
                                </div>

                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a href="http://xianbei.cc/guide/103" target="_blank">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/103_i5RbSBYgeL.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">吃货大叔，带您游关西</span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>blake</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    <img th:src="@{/static/images/index/icon-zhi.png}"/>
                                    在读博士
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    <img th:src="@{/static/images/index/icon-di.png}"/>
                                    关西
                                    京都
                                    大阪
                                    奈良
                                </div>
                                <div class="hr-line"></div>
                                <div class="price-lables">
                                    <div class="price-lable">带车 <b>2350</b> 元/天</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a href="http://xianbei.cc/guide/594" target="_blank">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/594_GZy2I0ZqiS.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">在有限的时间里发挥自己对日本的理解，已经对工作的热心， 为您带来一段完美的日本之...</span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>Fredi</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    <img th:src="@{/static/images/index/icon-zhi.png}"/>
                                    留学生
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    <img th:src="@{/static/images/index/icon-di.png}"/>
                                    大阪
                                    京都
                                    奈良
                                    神戶
                                </div>
                                <div class="hr-line"></div>
                                <div class="price-lables">
                                    <div class="price-lable">徒步 <b>900</b> 元/天</div>

                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a href="http://xianbei.cc/guide/1013" target="_blank">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/1013_62MwSz3WwK.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">从相遇到相知，每一个擦肩而过都是可惜的。如果可以一起漫步东瀛国，领略这里风土人情...</span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>曹飞</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    <img th:src="@{/static/images/index/icon-zhi.png}"/>
                                    程序员
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    <img th:src="@{/static/images/index/icon-di.png}"/>
                                    大阪
                                    奈良
                                    京都
                                </div>
                                <div class="hr-line"></div>
                                <div class="price-lables">
                                    <div class="price-lable">徒步 <b>1000</b> 元/天</div>

                                    <div class="price-lable">带车 <b>2100</b> 元/天</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a href="http://xianbei.cc/guide/382" target="_blank">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/382_4xEzSTUWsh.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">热爱生活，感恩家人，体贴朋友，就是我</span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>A梦</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    <img th:src="@{/static/images/index/icon-zhi.png}"/>
                                    留学生
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    <img th:src="@{/static/images/index/icon-di.png}"/>
                                    京都
                                    大阪
                                </div>
                                <div class="hr-line"></div>
                                <div class="price-lables">
                                    <div class="price-lable">徒步 <b>850</b> 元/天</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a href="http://xianbei.cc/guide/1090" target="_blank">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/1090_nuvV1mK8JO.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">来日本的朋友们，选择我们吧，无论是领导能力，还是工作能力，我们都会给您一个满意的...</span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>赵倩辉</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    <img th:src="@{/static/images/index/icon-zhi.png}"/>
                                    专业导游
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    <img th:src="@{/static/images/index/icon-di.png}"/>
                                    大阪
                                    京都
                                    奈良
                                    神户
                                </div>
                                <div class="hr-line"></div>
                                <div class="price-lables">
                                    <div class="price-lable">徒步 <b>1000</b> 元/天</div>
                                    <div class="price-lable">带车 <b>2350</b> 元/天</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a href="http://xianbei.cc/guide/150" target="_blank">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/150_beZPrtuMnf.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">相遇在日本，让我们一起渡过快乐的时光！</span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>悠悠</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    <img th:src="@{/static/images/index/icon-zhi.png}"/>
                                    公司职员
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    <img th:src="@{/static/images/index/icon-di.png}"/>
                                    京都
                                    大阪
                                    滋賀
                                    关西
                                </div>
                                <div class="hr-line"></div>
                                <div class="price-lables">
                                    <div class="price-lable">徒步 <b>900</b> 元/天</div>

                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li class="collect-item">
                    <div class="collect-item-inner">
                        <a href="http://xianbei.cc/guide/319" target="_blank">
                            <div class="img cover">
                                <img th:src="@{/static/images/index/319_78y5vM4A6y.jpg}"/>
	                            <span class="bg-hover">
		                            <span class="text">秉着服务的热情以及的对旅游的热爱，我一定会全力为您带来一段完美的关西之旅！</span>
		                        </span>
                            </div>
                            <div class="avt">
                                <div class="nickname pull-left"><b>陈庆键</b></div>
                                <div class="clearfix"></div>
                                <div class="work pull-left">
                                    <img th:src="@{/static/images/index/icon-zhi.png}"/>
                                    公司职员
                                </div>
                                <div class="clearfix"></div>
                                <div class="city " style="width: inherit;">
                                    <img th:src="@{/static/images/index/icon-di.png}"/>
                                    大阪
                                    京都
                                    神户
                                    奈良
                                </div>
                                <div class="hr-line"></div>
                                <div class="price-lables">
                                    <div class="price-lable">带车 <b>1800</b> 元/天</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <!--  -->
                <li></li>
                <li></li>
                <li></li>
                <!-- 当列表元素不是3的倍数时，使用空li补全 -->
            </ul>
        </div>

        <div class="clearfix"></div>

        <!--分页-->
        <div class="text-center">
            <ul class="pagination">
                <li class="disabled">
                </li>
                <li class="disabled">
                </li>
                <li class="hidden-xs active">
                    <a href=""> 1 </a>
                </li>
                <li class="hidden-xs">
                    <a href=""> 2 </a>
                </li>
                <li class="visible-xs-inline">
		        <span style="padding: 6px 12px; height: 34px;">
			        <select onchange="javascript:window.location.href=this.value;" style="-webkit-appearance: none; background-color: inherit; color: inherit; border: none">
                        <option selected="selected" value="">1/2</option>
                        <option value="">2/2</option>
                    </select>
		        </span>
                </li>
                <li class="">
                    <a rel="next" href=""> &gt; </a>
                </li>
                <li class="">
                    <a rel="next" href=""> 末页 </a>
                </li>
            </ul>
        </div>

    </div>
    <!--middle-->
</div>

<div th:include="index/footer :: copy"/>
<div th:include="index/footer :: float_nav"/>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/static/comp/My97DatePicker/WdatePicker.js}"/>
<script th:src="@{/static/comp/icheck-1.x/icheck.min.js}"/>
<script th:src="@{/static/js/index/typeahead.jquery.min.js}"/>
<script th:src="@{/static/js/index/list.js}"/>
<script th:src="@{/static/js/index/design.js}"/>

</body>
</html>