<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="index/header::head"/>
<head>
    <link rel="stylesheet" th:href="@{/static/comp/icheck-1.x/skins/all.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/common_plan.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/sweet-alert.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/info.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/header.css}"/>
    <title>产品详细页面</title>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

<!-- Being: header -->
<div th:include="index/header :: header_other"/>
<div th:include="index/header :: login"/>
<div th:include="index/header :: register"/>
<!-- End: header-->

<div class="container">
    <div id="middle">

        <div class="product-breadcrumb">

        </div>

        <div class="top-banner">
            <!-- 轮播图 -->

            <div id="slide-img">
                <div class="picFocus">
                    <div class="bd">
                        <div class="tempWrap" style="overflow:hidden; position:relative; width:580px">
                            <ul style="width: 2900px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            <li style="float: left; width: 580px;">
                                <img data-original="http://cdn.xianbei.cc/product/cover/58.jpg" src="http://cdn.xianbei.cc/product/cover/58.jpg"/>
                            </li>
                            <li style="float: left; width: 580px;">
                                <img data-original="http://img.xianbei.cc/product/58/FP4gF.jpg" src="http://img.xianbei.cc/product/58/FP4gF.jpg"/>
                            </li>
                            <li style="float: left; width: 580px;">
                                <img data-original="http://img.xianbei.cc/product/58/kdtAD.jpeg" src="http://img.xianbei.cc/product/58/kdtAD.jpeg"/>
                            </li>
                            <li style="float: left; width: 580px;">
                                <img data-original="http://img.xianbei.cc/product/58/Wywsq.jpeg" src="http://img.xianbei.cc/product/58/Wywsq.jpeg"/>
                            </li>
                            <li style="float: left; width: 580px;">
                                <img data-original="http://img.xianbei.cc/product/58/QD3JX.jpeg" src="http://img.xianbei.cc/product/58/QD3JX.jpeg"/>
                            </li>
                            </ul>
                        </div>
                    </div>

                    <div class="hd">
                        <ul>
                            <li class="">
                                <img data-original="http://cdn.xianbei.cc/product/cover/58.jpg" src="http://cdn.xianbei.cc/product/cover/58.jpg"/>
                            </li>
                            <li class="">
                                <img data-original="http://img.xianbei.cc/product/58/FP4gF.jpg" src="http://img.xianbei.cc/product/58/FP4gF.jpg"/>
                            </li>
                            <li class="on">
                                <img data-original="http://img.xianbei.cc/product/58/kdtAD.jpeg" src="http://img.xianbei.cc/product/58/kdtAD.jpeg"/>
                            </li>
                            <li class="">
                                <img data-original="http://img.xianbei.cc/product/58/Wywsq.jpeg" src="http://img.xianbei.cc/product/58/Wywsq.jpeg"/>
                            </li>
                            <li class="">
                                <img data-original="http://img.xianbei.cc/product/58/QD3JX.jpeg" src="http://img.xianbei.cc/product/58/QD3JX.jpeg"/>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <!-- // end -->

            <div class="top-right">
                <div style="height:202px;">

                    <div class="product-title">【结伴拼车接机】关西国际机场-大阪市内单程接机</div>

                    <div class="well-box">
                        <table>
                            <tbody>
                            <tr>
                                <td class="t">价格</td>
                                <td class="c">
										<span class="product-price">
											¥<span id="product-price">99</span>
												<span style="font-size:18px;color:#AAA;">/人</span>
										</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="t"><s>原价</s></td>
                                <td class="c">
										<span style="font-size:16px;color:#AAA;">
											<s>&nbsp;&nbsp;¥199&nbsp;</s>
										</span>

                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="product-labels">
                        <span class="product-label">大阪</span>
                    </div>

                </div>

                <div class="product-form">
                    <form>
                        <div class="form-group has-feedback has-feedback-left">
                            <input id="beginDate-1" class="form-control input-lg form-item" value="" type="text"
                                   placeholder="选择日期"/> <span class="form-control-feedback"><i
                                class="fa fa-calendar"></i></span>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <div class="form-group input-group input-group-lg has-feedback has-feedback-left">
                                <input id="metaNumber-1" name="metaNumber" value="" type="text"
                                       class="form-control input-lg" min="1" max="10" placeholder="请输入人数"/>
                                <input value="9" type="hidden" id="maxPeopleNum"/>
                                <span class="form-control-feedback" style="line-height:44px;">人数</span>
								      <span class="input-group-btn">
								        <button id="it-number-reduce" class="btn btn-default" type="button"
                                                style="border-left:none;width:46px;">-
                                        </button>
								      </span>
								      <span class="input-group-btn">
								        <button id="it-number-increase" class="btn btn-default" type="button"
                                                style="width:46px;">+
                                        </button>
								      </span>
                            </div>
                        </div>

                        <button id="it-book-btn" data-toggle="modal"
                                class="btn btn-danger form-control form-item input-lg" type="button">立即预定
                        </button>
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="bs-docs-sidebar">
            <ul class="tab nav affix-top" data-spy="affix" data-offset-top="680">
                <li class="active"><a href="http://xianbei.cc/product/99#about-price"
                                      data-target="#about-price">费用说明</a></li>
                <li><a href="http://xianbei.cc/product/99#about-traffic" data-target="#about-traffic">交通方式</a></li>
                <li><a href="http://xianbei.cc/product/99#about-route" data-target="#about-route">行程参考</a></li>
                <li><a href="http://xianbei.cc/product/99#about-book" data-target="#about-book">预定流程</a></li>
            </ul>
        </div>


        <!-- 费用说明 -->
        <div id="about-price" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-price.png}"/> 费用说明
            </div>
            <div class="detail-content">
                <table>
                    <tbody>
                    <tr>
                        <th align="left">费用包含：</th>
                    </tr>
                    <tr>
                        <td>1、车辆使用费</td>
                    </tr>
                    <tr>
                        <td>2、全程燃油费，高速费，停车费；</td>
                    </tr>
                    <tr>
                        <td>3、中文司兼导服务费；</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">费用不包含：</th>
                    </tr>
                    <tr>
                        <td>1、其他未标明事项，及游客个人消费；</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">补充说明：</th>
                    </tr>
                    <tr>
                        <td>1. 本产品需提前3天预定。
                        </td>
                    </tr>
                    <tr>
                        <td>2. 本产品为结伴拼车产品，会有其他游客一同搭乘（如果您希望自由调整，建议订购仙贝旅行的包车产品，一对一为您服务）；</td>
                    </tr>
                    </tbody>
                </table>
                <br/>

                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">退订规则：</th>
                    </tr>
                    <tr>
                        <td>1、如因客人个人原因取消服务:</td>
                    </tr>
                    <tr>
                        <td>・提前72小时取消及更改，免收退改费；</td>
                    </tr>
                    <tr>
                        <td>・提前72小时（含）至48小时取消及更改，收取订单金额的50%作为违约金；</td>
                    </tr>
                    <tr>
                        <td>・提前48小时（含）取消及更改，收取订单金额的100%作为违约金。</td>
                    </tr>

                    <tr>
                        <td>2、不成团说明（成团人数为4人。若不满4人，仙贝旅行会取消行程不承担违约责任）：</td>
                    </tr>
                    <tr>
                        <td>・提前48小时取消服务，全额退款，不承担违约责任；</td>
                    </tr>
                    <tr>
                        <td>・提前48小时（含）至24小时取消服务，支付订单总额的15%作为违约金；</td>
                    </tr>
                    <tr>
                        <td>・提前24小时（含）以内取消服务，支付订单总额的30%作为违约金。</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr/>

        <!-- 交通方式 -->
        <div id="about-traffic" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-car.png}"/> 交通方式
            </div>
            <div class="detail-content">
                <table>
                    <tbody>
                    <tr>
                        <th align="left">基本信息：</th>
                    </tr>
                    <tr>
                        <td>・参考车型：丰田阿尔法</td>
                        <td>・车辆座位：8座</td>
                    </tr>
                    <tr>
                        <td>・建议乘坐：6人</td>
                        <td>・建议行李：6件</td>
                    </tr>
                    <tr>
                        <td>・服务人员：华人司兼导</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table>
                    <tbody>
                    <tr>
                        <th align="left">补充说明：</th>
                    </tr>
                    <tr>
                        <td>1、具体车型以实际用车为主。参考车型：8座丰田阿尔法或同级。10做海狮或同级。</td>
                    </tr>
                    <tr>
                        <td>2、儿童与成人价格相同，本产品暂不接受2周岁以内婴儿预定。</td>
                    </tr>
                    <tr>
                        <td>3、由于结伴拼车机场接机，出发时间固定。</td>
                    </tr>
                    <tr>
                        <td>4、司机会在机场等待，请您根据与司机约定时间，准时在指定地点等候。</td>
                    </tr>
                    <tr>
                        <td>5、如因游客自身原因迟到，导致影响其他游客行程，司机有权拒绝等待，或不提供服务。此种情况，责任自负，概不退款。</td>
                    </tr>
                    <tr>
                        <td>6、因多个航班客户共享使用本产品，如有航班延误，请提前告知仙贝，我们将会为您另行安排车辆。如无任何联络，且超时60分钟以上，将默认放弃本次服务。</td>
                    </tr>
                    <tr>
                        <td>7、拼车产品，每人限带1件大行李（24寸行李箱），如因行李过多而导致司机拒载，概不承担责任。</td>
                    </tr>
                    </tbody>
                </table>
                <br/><br/>
                <img th:src="@{/static/images/index/dpxHB.jpg}" border="1"/></div>
        </div>
        <hr/>

        <!-- 行程参考 -->
        <div id="about-route" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-point.png}"/> 行程参考
            </div>
            <div class="detail-content">
                <ul class="route-line">

                    <li class="day">
							<span class="route-icon">
								<i class="fa fa-map-marker"></i>
							</span>
                        <b>Day 1</b>
                    </li>
                    <li class="traffic">关西国际机场接送机</li>
                    <li class="sence">
							<span class="route-icon">
								<i class="fa fa-plane"></i>
							</span>
                        每日下午14点发
                        <br/>
                        <br/>
                        建议航班时间12:30前抵达的乘客预订.

                        <br/>
                        <img data-original="http://img.xianbei.cc/product/99/OUBL5.jpg"
                             th:src="@{/static/images/index/OUBL5.jpg}"/>

                        <div class="clearfix"></div>
                    </li>
                    <li class="sence">
							<span class="route-icon">
								<i class="fa fa-plane"></i>
							</span>
                        每日下午19点发
                        <br/>
                        <br/>
                        建议航班时间17:30前抵达的乘客预订。
                        <br/>
                        <img data-original="http://img.xianbei.cc/product/99/WxVkM.jpg"
                             th:src="@{/static/images/index/WxVkM.jpg}"/>

                        <div class="clearfix"></div>
                    </li>


                </ul>
            </div>
        </div>
        <hr/>

        <!-- 导游介绍 -->
        <form action="#" method="post" >
	        <textarea cols="80" id="editor1" name="editor1" rows="10">
	        </textarea>
            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>

        <div id="editor">
            <h1>Hello world!</h1>
            <p>I'm an instance of <a href="http://ckeditor.com">CKEditor</a>.</p>
        </div>

        <!-- 预约方式 -->
        <div id="about-book" class="detail">
            <div class="detail-title">
                <img th:src="@{/static/images/index/icon-info.png}"/> 预定流程
            </div>
            <div class="detail-content">
                <img style="width: 65%;" th:src="@{/static/images/index/book-way.png}"/>
            </div>
        </div>

        <div class="clearfix"></div>

        <!--middle-->
    </div>
</div>

<div id="book-model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="book-model-head">
                提交订单
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="book-form" action="http://xianbei.cc/product/99/book" method="POST">

                <input type="hidden" name="productId" value="99"/>

                <div class="form-group has-feedback has-feedback-left">
                    <span id="beginDate-txt" class="form-control form-item input-lg" style="border:none;"></span> <span
                        class="form-control-feedback">出发日期</span>

                    <input id="beginDate-2" name="beginDate" type="hidden" value="" placeholder="请选择日期"/>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <span id="metaNumber-txt" class="form-control form-item input-lg" style="border:none;"></span>
                    <span class="form-control-feedback">人数</span>

                    <input id="metaNumber-2" name="metaNumber" value="" type="hidden"/>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="realname" class="form-control form-item input-lg" value="" type="text"
                           placeholder="请输入姓名"/> <span class="form-control-feedback">联系人</span>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="mobile" class="form-control form-item input-lg" value="" type="text"
                           placeholder="请输入"/>
                    <span class="form-control-feedback">手机号</span>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="weixin" class="form-control form-item input-lg" value="" type="text"
                           placeholder="QQ、微信可2选1"/> <span class="form-control-feedback">微信</span>

                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input name="qq" class="form-control form-item input-lg" value="" type="text"
                           placeholder="QQ、微信可2选1"/> <span class="form-control-feedback">QQ</span>

                </div>

                <div class="form-group" style="margin-top:8px;">
                    <textarea name="remark" class="form-control form-item" style="border: 1px solid #ccc;padding:15px"
                              placeholder="备注"></textarea>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-danger submit-btn input-lg" type="submit">立即预定</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div>
    <div class="sweet-overlay" tabindex="-1"></div>
    <div class="sweet-alert" tabindex="-1">
        <div class="icon error"><span class="x-mark"><span class="line left"></span><span
                class="line right"></span></span></div>
        <div class="icon warning"><span class="body"></span> <span class="dot"></span></div>
        <div class="icon info"></div>
        <div class="icon success"><span class="line tip"></span> <span class="line long"></span>

            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
        <div class="icon custom"></div>
        <h2>Title</h2>

        <p>Text</p>
        <button class="cancel" tabindex="2">Cancel</button>
        <button class="confirm" tabindex="1">OK</button>
    </div>
</div>

<!-- Being: footer -->
<div th:include="index/footer :: copy"/>
<div th:include="index/footer :: float_nav"/>
<!-- Being: footer -->

<script th:src="@{/static/comp/icheck-1.x/icheck.min.js}"/>
<script th:src="@{/static/js/index/moment.min.js}"/>
<script th:src="@{/static/js/index/sweet-alert.min.js}"/>
<script th:src="@{/static/js/index/jquery.SuperSlide.2.1.1.js}"/>
<script th:src="@{/static/js/index/zh-cn.js}"/>
<script th:src="@{/static/js/index/zlDate.js}"/>
<script th:src="@{/static/js/index/detail.js}"/>
<script th:src="@{/static/comp/ckeditor/ckeditor.js}"/>
<script th:src="@{/static/comp/ckeditor/samples/js/sample.js}"/>

<script type="text/javascript">
    initSample();
</script>

</body>
</html>