<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!-- 触发双核浏览器使用 chrome 内核 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>

    <link th:href="@{/static/images/index/favicon.ico}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/static/images/index/favicon.ico}" rel="shortcut icon" type="image/x-icon"/>
    <link th:href="@{/static/images/index/favicon.ico}" rel="bookmark" type="image/x-icon"/>

    <!--[if gte IE 9]-->
    <script th:src="@{/static/comp/jquery-2.1.4.js}"></script>
    <!--[endif]-->

    <!--[if lt IE 9]>
    <script th:src="@{/static/comp/html5shiv/html5shiv.min.js}"></script>
    <script th:src="@{/static/comp/respond/respond.min.js}"></script>
    <script th:src="@{/static/comp/jquery-1.11.3.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/static/comp/bootstrap-3.3.5/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/comp/magicsuggest-master/magicsuggest-min.css}"/>
    <link rel="stylesheet" th:href="@{/static/comp/Font-Awesome-master/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/jquery.mailAutoComplete-4.0.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/footer.css}"/>

    <!--<base th:href="@{'http://localhost:9080' + ${ctx}}" />-->

</div>

<div th:fragment="header_index">
    <div class="header-index">
        <div class="head-bar">

            <div class="navbar-header">

                <h1 class="logo navbar-brand">
                    <a href="">
                        <img th:src="@{/static/images/index/logo-index.png}" alt="玉龍光碧"/>
                    </a>
                </h1>
            </div>

            <ul th:if="${user}!=null" class="nav navbar-nav navbar-right pull-right text-center hidden-xs">
                <div id="function-btn" class="pull-right">
                    <div class="header-div">
                        <span class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <img th:src="@{/static/images/index/user.png}" id="header-avatar" class="img-circle"/>
                            </a>
                            <a data-toggle="dropdown" href="#">
                                <div id="header-username">/qz</div>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="plan/my.html"> 我的旅行计划 </a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="guideApplyFast"> 成为导游 </a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/logout}"> 退出 </a></li>
                            </ul>
                        </span>
                        &nbsp;
                        &nbsp;
                    </div>

                    <div class="header-div header-help" style="line-height: 45px;">
                        <a class="header-a" href="faq/1" id="help">帮助&nbsp;<i class="fa fa-caret-down"></i></a>

                        <div class="help-list" style="display: none;">
                            <ul class="">
                                <li><a href="faq/1" style="color:#ff5a5f">访问帮助中心</a></li>
                                <li><a href="faq/1">关于仙贝旅行</a></li>
                                <li><a href="faq/2">如何定制行程？</a></li>
                                <li><a href="faq/3">成为仙贝的导游</a></li>
                                <li><a href="faq/4">费用说明</a></li>
                                <li><a href="faq/6">退款政策</a></li>
                            </ul>
                            <i class="top" style="left: 138px;"></i>
                        </div>
                    </div>
                </div>
            </ul>

            <ul th:if="${user}==null" class="nav navbar-nav navbar-right pull-right text-center hidden-xs">

                <div class="header-div">
                    <a class="header-a" data-toggle="modal" href="#login-panel">登录</a>/
                    <a class="header-a" data-toggle="modal" href="#register-panel">注册</a>
                </div>

                <div class="header-div header-help">
                    <a class="header-a" href="http://xianbei.cc/faq" id="help">
                        帮助&nbsp;
                        <i class="fa fa-caret-down"></i>
                    </a>

                    <div class="help-list" style="display: none;">
                        <ul class="">
                            <li><a href="http://xianbei.cc/faq" style="color:#ff5a5f">访问帮助中心</a></li>
                            <li><a href="http://xianbei.cc/faq/1">关于玉龍光碧</a></li>
                            <li><a href="http://xianbei.cc/faq/2">如何定制花园？</a></li>
                            <li><a href="http://xianbei.cc/faq/3">成为玉龍光碧的设计师</a></li>
                            <li><a href="http://xianbei.cc/faq/4">费用说明</a></li>
                            <li><a href="http://xianbei.cc/faq/6">退款政策</a></li>
                        </ul>
                        <i class="top"></i>
                    </div>
                </div>

            </ul>

        </div>

    </div>
</div>

<div th:fragment="header_other">
    <div class="header">
        <nav class="navbar navbar-default" role="navigation" style="margin: 0 30px;">
            <div class="head-bar">

                <div class="navbar-header">

                    <h1 class="logo navbar-brand">
                        <a href="index.html">
                            <img th:src="@{/static/images/index/logo.png}" alt="仙贝旅行"/>
                        </a>
                    </h1>

                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#main-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="header-search-bar pull-left hidden-xs">
                    <!--=S 发布旅行计划=-->

                    <input type="hidden" name="city" id="dests" value="46"/>

                    <form action="http://xianbei.cc/guide/list" id="form" method="POST">
                        <div class="search-box" style="background-color: #FFF;">
                            <div class="pub-ipt-city">
                                <input id="trip-place-h" name="dests[]" type="text" class="pub-ipt j_city form-control"
                                       placeholder="想去哪玩？"/>
                            </div>
                            <div class="submit-box" style="background-color: #fff;" onclick="submit()">
                                <img th:src="@{/static/images/index/fangdajing.png}" alt="查找" id="location_choose"
                                     class="header_img"/>
                            </div>
                        </div>
                        <div class="div_1" style="display: none;">
                            <div style="background-color:#f0f0f0;padding:7px 0 7px 15px;color:#777">热门风格</div>
                            <div class="div_2" style="border-top: 0px solid #e9e9e9;">
                                <a href="http://xianbei.cc/guide/list?city=13">
                                    <div class="city"><span style="color:#666666">简欧</span></div>
                                </a>
                                <a href="http://xianbei.cc/guide/list?city=40">
                                    <div class="city center"><span style="color:#666666">日式</span></div>
                                </a>
                                <a href=".">
                                    <div class="city"><span style="color:#666666">地中海</span></div>
                                </a>
                            </div>
                            <div class="div_2">
                                <a href="http://xianbei.cc/guide/list?city=45">
                                    <div class="city"><span style="color:#666666">新中式</span></div>
                                </a>
                                <a href="http://xianbei.cc/guide/list?city=50">
                                    <div class="city center"><span style="color:#666666">田园</span></div>
                                </a>
                                <a href="http://xianbei.cc/guide/list?city=1">
                                    <div class="city"><span style="color:#666666">美式</span></div>
                                </a>
                            </div>
                            <div class="div_2">
                                <a href="http://xianbei.cc/guide/list?city=69">
                                    <div class="city"><span style="color:#666666">古典</span></div>
                                </a>
                                <a href="http://xianbei.cc/guide/list?city=31">
                                    <div class="city center"><span style="color:#666666">欧式</span></div>
                                </a>
                                <a href="http://xianbei.cc/guide/list?city=48">
                                    <div class="city"><span style="color:#666666">北欧</span></div>
                                </a>
                            </div>
                            <div class="citylines"></div>
                            <div style="text-align: center;height: 40px;line-height: 40px;border-top: 1px solid #e9e9e9;">
                                不确定要什么风格？我们为您
                                <a href="http://xianbei.cc/plan/create" style="color:#ff5a5f">设计定制</a>
                            </div>
                        </div>
                    </form>
                    <!--=S 发布旅行计划=-->
                </div>

                <ul th:if="${user}!=null" class="nav navbar-nav navbar-right pull-right text-center hidden-xs">
                    <div id="function-btn" class="pull-right">
                        <div class="header-div">
	                        <span class="dropdown">
		                        <a data-toggle="dropdown" href="http://xianbei.cc/#">
                                    <img th:src="@{/static/images/index/user.png}" id="header-avatar"
                                         class="img-circle"/>
                                </a>
		                        <a data-toggle="dropdown" href="http://xianbei.cc/#">
                                    <div id="header-username">/qz</div>
                                    <span class="caret"></span>
                                </a>
		                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="http://xianbei.cc/plan/my.html">
                                            我的旅行计划 </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="http://xianbei.cc/guideApplyFast">
                                            成为导游 </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" th:href="@{/logout}"> 退出 </a>
                                    </li>
                                </ul>
	                        </span>
                            &nbsp;&nbsp;
                        </div>

                        <div class="header-div header-help" style="line-height: 45px;">
                            <a class="header-a" href="http://xianbei.cc/faq/1" id="help">
                                帮助&nbsp;
                                <i class="fa fa-caret-down"></i>
                            </a>

                            <div class="help-list" style="display: none;">
                                <ul class="">
                                    <li><a href="http://xianbei.cc/faq/1" style="color:#ff5a5f">访问帮助中心</a></li>
                                    <li><a href="http://xianbei.cc/faq/1">关于仙贝旅行</a></li>
                                    <li><a href="http://xianbei.cc/faq/2">如何定制行程？</a></li>
                                    <li><a href="http://xianbei.cc/faq/3">成为仙贝的导游</a></li>
                                    <li><a href="http://xianbei.cc/faq/4">费用说明</a></li>
                                    <li><a href="http://xianbei.cc/faq/6">退款政策</a></li>
                                </ul>
                                <i class="top" style="left: 20px;"></i>
                            </div>
                        </div>

                        <div class="header-div" style="line-height: 45px;">
                            <a href="http://xianbei.cc/plan/create" class="xb-btn-m-org">我要定制</a>
                        </div>
                    </div>
                </ul>

                <ul th:if="${user}==null" class="nav navbar-nav navbar-right pull-right text-center hidden-xs">
                    <div class="header-div">
                        <a class="header-a" data-toggle="modal" href="#login-panel">登录</a>/
                        <a class="header-a" data-toggle="modal" href="#register-panel">注册</a>
                    </div>

                    <div class="header-div header-help">
                        <a class="header-a" href="faq/1" id="help">帮助&nbsp;<i class="fa fa-caret-down"></i></a>

                        <div class="help-list" style="display: none;">
                            <ul class="">
                                <li><a href="faq/1" style="color:#ff5a5f">访问帮助中心</a></li>
                                <li><a href="faq/1">关于仙贝旅行</a></li>
                                <li><a href="faq/2">如何定制行程？</a></li>
                                <li><a href="faq/3">成为仙贝的导游</a></li>
                                <li><a href="faq/4">费用说明</a></li>
                                <li><a href="faq/6">退款政策</a></li>
                            </ul>
                            <i class="top"></i>
                        </div>
                    </div>

                    <div class="header-div">
                        <a href="plan/create" class="xb-btn-m-org">行程定制</a>
                    </div>

                </ul>

                <div class="clearfix"></div>
            </div>
        </nav>
    </div>

    <div class="clearfix"></div>
</div>

<div th:fragment="login">
    <div class="modal fade in" id="login-panel" tabindex="-1" role="dialog" aria-labelledby="login-title"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="login-title">通过以下方式登录</h4>
                </div>

                <div class="row modal-body">
                    <div class="col-md-12">
                        <span class="help-block user-pw-input">使用第三方平台账号登录</span>

                        <div class="text-center" style="padding:3px 0 20px 0">
                            <a href="openid/qq/login" class="btn btn-lg btn-primary"
                               style="width:130px;margin-right:8px;">
                                <i class="fa fa-qq"></i> QQ登陆
                            </a>
                            <a href="openid/weibo/login" class="btn btn-lg btn-danger" style="width:130px">
                                <i class="fa fa-weibo"></i> 微博登陆
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <div class="col-md-12">

	            	    <span class="help-block user-pw-input">
	            		    <span>仙贝账号&nbsp;&nbsp;&nbsp;&nbsp;</span>
	            		    <a aria-hidden="true" data-dismiss="modal" data-toggle="modal" href="#register-panel"></a>
	            	    </span>

                        <div class="clearfix"></div>

                        <form class="form-horizontal" role="form" method="post" th:action="@{/login}">
                            <fieldset>
                                <div class="input-group user-pw-input">
	                                <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
	                                </span>
                                    <ul class="emailist"
                                        style="position: absolute; margin-top: 0px; visibility: hidden; z-index: 11;"></ul>
                                    <input id="login-username" type="text" class="form-control" name="username"
                                           required="required" value="" placeholder="邮箱"/>
                                </div>
                                <div class="input-group user-pw-input">
	                                <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
	                                </span>
                                    <input type="password" class="form-control" name="password" required="required"
                                           placeholder="密码"/>
                                </div>

                                <div class="input-group user-pw-input">
	                                <span class="button-checkbox">
	                                    <div class="icheckbox_minimal-red checked" style="position: relative;">
                                            <input type="checkbox" class="iCheck" checked="true"
                                                   style="position: absolute; opacity: 0;"/>
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                        </div>记住登录状态
                                    </span>

                                    <div class="pull-right"><a href="http://xianbei.cc/password/forget">忘记密码?</a></div>
                                </div>

                                <script type="text/javascript">
                                    document.write('<input type="hidden" name="BackURL" value="' + window.location.href + '"/>');
                                </script>

                                <div class="form-group">
                                    <div class="controls user-pw-btn">
                                        <button class="btn btn-danger form-control">登录</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <!-- end modal-body -->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div th:fragment="register">
    <div class="modal fade" id="register-panel" tabindex="-1" role="dialog" aria-labelledby="register-title"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="register-title">您可以通过以下方式注册！</h4>
                </div>

                <div class="row modal-body">

                    <div class="col-md-12">
                        <span class="help-block user-pw-input">使用第三方平台账号登录</span>

                        <div class="text-center" style="padding:3px 0 20px 0">
                            <a href="http://xianbei.cc/openid/qq/login" class="btn btn-lg btn-primary"
                               style="width:130px;margin-right:8px;">
                                <i class="fa fa-qq"></i> QQ登陆
                            </a>
                            <a href="http://xianbei.cc/openid/weibo/login" class="btn btn-lg btn-danger"
                               style="width:130px">
                                <i class="fa fa-weibo"></i> 微博登陆
                            </a>
                        </div>
                    </div>
                    <hr/>

                    <span class="help-block user-pw-input">
               		    <span>使用邮箱注册仙贝账号&nbsp;&nbsp;&nbsp;&nbsp;</span>
            		    <a href="http://xianbei.cc/password/forget">忘记密码?</a>
            	    </span>

                    <form class="form-horizontal" role="form" action="http://xianbei.cc/register" method="POST">
                        <fieldset>
                            <div class="input-group user-pw-input">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"> </i>
                                </span>
                                <ul class="emailist"
                                    style="position: absolute; margin-top: 0px; visibility: hidden; z-index: 11;"></ul>
                                <input id="reg-username" type="text" class="form-control" name="email" value=""
                                       placeholder="邮箱"/>
                            </div>
                            <div class="input-group user-pw-input">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"> </i>
                                </span>
                                <input type="password" class="form-control" name="password" placeholder="密码" value=""/>
                            </div>
                            <div class="input-group user-pw-input">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"> </i>
                                </span>
                                <input type="password" class="form-control" name="password2" placeholder="重复密码"
                                       value=""/>
                            </div>
                            <div class="input-group user-pw-input">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"> </i>
                                </span>
                                <input value="" type="text" class="form-control" name="nickname"
                                       placeholder="昵称(中文12个字,英文24个字符以内)"/>
                            </div>
                            <div class="form-group">
                                <div class="controls user-pw-btn">
                                    <button class="btn btn-danger form-control">
                                        快速注册
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <!--modal-footer-->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

</body>
</html>