<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="index/header::head"/>
<head>
    
    <link th:href="@{/static/css/index/common.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/index/index.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/index/bottomBar.css}" rel="stylesheet"/>

    <title>玉龍光碧 - 园艺设计专家</title>
</head>
<body>

<div th:include="index/header :: header_index"/>

<div th:include="index/header :: login"/>

<div th:include="index/header :: register"/>

<!--=E 头部=-->
<div id="page">
    <div id="content">
        <!--=S 轮播区域=-->
        <div class="banner-slide">
            <div class="slide-bd">
                <div class="slide-panels">
                    <div class="home-header-bg">
                        <!-- 轮播开始 -->
                        <div id="carousel-top" class="focus slide">
                            <div class="hd">
                                <ul></ul>
                            </div>
                            <div class="bd">
                                <ul id="slider">
                                    <li th:each="adv:${advertisements}">
                                        <a th:href="${adv.id}" target="_blank">
                                            <img th:src="${adv.img}"/>
                                        </a>
                                    </li>
                                    <!-- Powered by TouchSlider v2.0.1  https://github.com/qiqiboy/touchslider -->
                                </ul>

                                <div class="slide_left">
                                    <div class="img" id="prev"></div>
                                </div>
                                <div class="slide_right">
                                    <div class="img" id="next"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 轮播结束 -->
                    </div>
                </div>
            </div>
            <div class="slide-ft">
                <div class="slide-bottom-pub layout">
                    <!--=S 发布旅行计划=-->
                    <div class="publish-bar j_publishBar">
                        <form action="http://xianbei.cc/plan/create">
                            <button type="submit" class="pub-btn">我要定制</button>
                        </form>
                    </div>
                    <!--=S 发布旅行计划=-->
                </div>
            </div>
        </div>
        <div style="width: 0px; height: 0px; overflow: hidden;">
            <img th:src="@{/static/images/index/logo-l.png}"/>
        </div>
        <!-- weixin缩略图 -->
        <!--=E 轮播区域=-->
        <div class="layout">
            <div class="nav_link">
                <div>
                    <div class="nav">
                        <div class="pull-left img">
                            <img th:src="@{/static/images/index/nav.png}"/>
                        </div>
                        <div class="title">
                            <strong>匠</strong>
                        </div>
                        <div>
                            <p class="title_2">花园顾问，质量保证</p>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="pull-left img" style="margin-left: 45px;">
                            <img th:src="@{/static/images/index/zhuanxin.png}"/>
                        </div>
                        <div class="title">
                            <strong>艺</strong>
                        </div>
                        <div>
                            <p class="title_2">专注园艺，品格设计</p>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="pull-left img " style="margin-left: 90px;">
                            <img th:src="@{/static/images/index/shengxin.png}"/>
                        </div>
                        <div class="title">
                            <strong>心</strong>
                        </div>
                        <div>
                            <p class="title_2">专属园丁，贴心服务</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="lines"></div>

        <div class="layout">

            <dl class="collection">
                <dt>
                <h4 class="f16 mb20">
                    <span class="img">
                        <img th:src="@{/static/images/index/collection.png}"/>
                    </span>
                    经典案例
                </h4>
                </dt>
                <!--=S dd item=-->

                <div class="collection-city-col">
                    <div class="collection-city">
                        <a th:href="@{design}">
                            <img
                                th:src="${categories[0].img}" style="height:369px"/>
                        </a>

                        <div class="city_info" th:text="${categories[0].name}">
                        </div>
                    </div>
                    <div class="collection-city">
                        <a th:href="@{design}">
                            <img
                                th:src="${categories[1].img}" style="height:177px"/>
                        </a>

                        <div class="city_info" th:text="${categories[1].name}">
                            简洁大气好养护
                        </div>
                    </div>
                </div>

                <div class="collection-city-col">
                    <div class="collection-city">
                        <a th:href="@{design}">
                            <img
                                th:src="${categories[2].img}" style="height:177px"/>
                        </a>

                        <div class="city_info" th:text="${categories[2].name}">
                            曲线勾勒的绿色空间
                        </div>
                    </div>
                    <div class="collection-city">
                        <a th:href="@{design}">
                            <img th:src="${categories[3].img}" style="height:177px"/>
                        </a>

                        <div class="city_info" th:text="${categories[3].name}">
                            多功能惬意小空间
                        </div>
                    </div>
                    <div class="collection-city">
                        <a th:href="@{design}"> <img
                                th:src="${categories[4].img}" style="height:177px"/>
                        </a>

                        <div class="city_info" th:text="${categories[4].name}">
                            都市天籁园日式精品花园
                        </div>
                    </div>

                </div>

                <div class="collection-city-col">
                    <div class="collection-city">
                        <a th:href="@{design}">
                            <img th:src="${categories[5].img}" style="height:177px"/>
                        </a>

                        <div class="city_info" th:text="${categories[5].name}">
                            600平超大花园迎造的度假空间
                        </div>
                    </div>
                    <div class="collection-city">
                        <a th:href="@{design}">
                            <img th:src="${categories[6].img}" style="height:360px"/>
                        </a>

                        <div class="city_info" th:text="${categories[6].name}">
                            双拼别墅花园
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </dl>
        </div>

    </div>
</div>

<div th:include="index/footer :: copy"></div>
<div th:include="index/footer :: float_nav"></div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/static/js/index/jquery.scrollpic.js}"></script>
<script th:src="@{/static/js/index/touchslider.2.1.js}"></script>
<script th:src="@{/static/js/index/cubead_ca.js}"></script>
<script th:src="@{/static/js/index/v.js}"></script>
<script th:src="@{/static/js/index/c.js}"></script>
<script th:src="@{/static/js/index/index.js}"></script>

</body>
</html>