<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="index/header::head"/>
<head>
    <link rel="stylesheet" th:href="@{/static/comp/icheck-1.x/skins/all.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/create.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/datepicker_plan.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/magicsuggest_plan.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/common_plan.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index/header.css}"/>
    <title>仙贝旅行 | 发布旅行计划</title>
</head>
<body>

<!-- Being: header -->
<div th:include="index/header :: header_other"/>
<div th:include="index/header :: login"/>
<div th:include="index/header :: register"/>
<!-- End: header-->

<div class="container">
    <div class="form-scroll" style="width: 606px;height:505px">
        <div id="carousel-top" class="f slide">
            <div class="hd">
                <ul></ul>
            </div>
            <div class="bd">
                <form action="plan/ct" method="post" id="form_plan">
                    <ul style="max-height: 400px;" id="slider">
                        <li>
                            <div class="page">
                                <div class="content">
                                    <div class="title">仙贝专属行程定制</div>
                                    <div class="info">
                                        <div class="line_left"></div>
                                        <div class="second">只需30秒</div>
                                        <div class="line_right"></div>
                                    </div>
                                    <div class="margin"></div>
                                    <div class="form">
                                        <div class="tr cols2">
                                            <div class="th">选择目的地城市</div>
                                            <div class="td ">
                                                <div class="ms-sel-ctn pull_left">
                                                    <input type="text" class="large" id="city" widthNum="351"
                                                           readOnly="readOnly"/>
                                                </div>
                                                <div class="pull_right icon down">
                                                    <i class="fa fa-caret-down gray down"></i>
                                                </div>
                                            </div>
                                            <div class="dest" style="display:none">
                                                <div class="div_2">
                                                    <div class="city h" onclick="chooseCity(this)" name="东京"
                                                         destid="13">
                                                        <span style="color: #666666">东京</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="富士山"
                                                         destid="40">
                                                        <span style="color: #666666">富士山</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="大阪"
                                                         destid="46">
                                                        <span style="color: #666666">大阪</span>
                                                    </div>
                                                    <div class="city h " style="border-right: 0px solid #fff;"
                                                         onclick="chooseCity(this)" name="京都" destid="45">
                                                        <span style="color: #666666">京都</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="奈良"
                                                         destid="50">
                                                        <span style="color: #666666">奈良</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="北海道"
                                                         destid="1">
                                                        <span style="color: #666666">北海道</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="冲绳"
                                                         destid="69">
                                                        <span style="color: #666666">冲绳</span>
                                                    </div>
                                                    <div class="city h " style="border-right: 0px solid #fff;"
                                                         onclick="chooseCity(this)" name="箱根" destid="31">
                                                        <span style="color: #666666">箱根</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="神户"
                                                         destid="48">
                                                        <span style="color: #666666">神户</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="名古屋"
                                                         destid="42">
                                                        <span style="color: #666666">名古屋</span>
                                                    </div>
                                                    <div class="city h" onclick="chooseCity(this)" name="九州"
                                                         destid="76">
                                                        <span style="color: #666666">九州</span>
                                                    </div>
                                                    <div class="city h " style="border-right: 0px solid #fff;"
                                                         onclick="chooseCity(this)" name="其他" destid="218">
                                                        <span style="color: #666666">其他</span>
                                                    </div>
                                                    <div class="xb-btn-m-org ok">确定</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="error" id="city_warn">
                                            请选择您想去的城市
                                        </div>
                                        <div class="tr cols2 zldate">
                                            <div class="td">
                                                <div class="th" style="width: 156px;">选择出发日期</div>
                                                <input type="text" class="large" readonly="readonly" id="beginDate"
                                                       name="courses[0].start"/>

                                                <div class="pull_right icon bgDate">
                                                    <i class="fa fa-caret-down gray bgDate"></i>
                                                </div>
                                            </div>
                                            <div class="error" id="beginDate_warn">
                                                请选择您的出发日期
                                            </div>
                                        </div>
                                        <div class="tr">

                                            <div class="td">
                                                <div class="t2">游玩天数</div>
                                                <input type="text" class="small" id="playDay" name="days"/>

                                                <div class="pull_right icon margin">天</div>
                                            </div>
                                            <div class="error day" id="playDay_warn">
                                                请选择您的游玩天数
                                            </div>
                                            <div class="menu menu_left" onselectstart="return false">
                                                <div class="add a">
                                                    <i class="fa  fa-plus gray a"></i>
                                                </div>
                                                <div class="del a">
                                                    <i class="fa fa-minus gray a"></i>
                                                </div>
                                            </div>
                                            <div class="td"></div>
                                            <div class="t2 pullright">人数</div>
                                            <div class="td">
                                                <input type="text" class="small" id="num" name="mateNumber"/>
                                            </div>
                                            <div class="td icon margin">人</div>
                                            <div class="error num" id="num_warn">
                                                请选择您的出行人数
                                            </div>
                                            <div class="menu menu_right" onselectstart="return false">
                                                <div class="add a">
                                                    <i class="fa  fa-plus gray a"></i>
                                                </div>
                                                <div class="del a">
                                                    <i class="fa fa-minus gray a"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="next" id="next">下一步</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="page" id="page2">
                                <div class="content">
                                    <div class="form">
                                        <div style="padding-top: 1px;clear:both"></div>
                                        <div class="tr cols2">
                                            <div class="td">
                                                <div class="th common">您的姓名</div>
                                                <input type="text" class="username commonheight pull_left"
                                                       placeholder="姓名" id="username" name="realName"/>

                                                <div class="pull_right radio commonheight">
                                                    <input type="radio" name="gender" checked="true" value="M"/>先生&nbsp;&nbsp;
                                                    <input type="radio" name="gender" value="F"/>女士
                                                </div>
                                            </div>
                                            <div class="error" id="username_warn">
                                                请选择您的姓名
                                            </div>
                                        </div>
                                        <div class="tr cols2">
                                            <div class="td">
                                                <div class="th common ">手机号码</div>
                                                <input type="text" class="phone commonheight" name="mobile"
                                                       placeholder="支持中国大陆和日本号码" id="phone"/>
                                            </div>
                                            <div class="error" id="phone_warn">
                                                请输入手机号
                                            </div>
                                        </div>
                                        <div class="tr cols2">
                                            <div class="td">
                                                <div class="th common ">微信/QQ</div>
                                                <input type="text" class="wechat commonheight" name="qqOrWeChat"
                                                       placeholder="微信/QQ" id="WechatQQ"/>
                                            </div>
                                            <div class="error" id="weChat_warn">
                                                请输入微信或QQ
                                            </div>
                                        </div>
                                        <div class="tr cols2">
                                            <div class="td">
                                                <textarea class="land" name="note" placeholder="备注"
                                                          id="remark"></textarea>
                                            </div>
                                        </div>
                                        <div class="button">
                                            <div class="previous" id="prev">上一步</div>
                                            <div class="submit" id="submit">提交</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="page " id="page3">
                                <div class="content">
                                    <div class="form">
                                        <div style="padding-top: 1px;"></div>
                                        <div class="tr cols2">
                                            <div class="td">
                                                <div class="head">
                                                    <img th:src="@{/static/images/index/logo_plan.png}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tr cols2">
                                            <div class="td filed">
                                                您的需求已经提交成功
                                            </div>
                                        </div>
                                        <div class="tr cols2">
                                            <div class="td filed ">
                                                专属顾问将在24小时之内与您取得联系
                                            </div>
                                        </div>
                                        <div class="tr cols2 margin">
                                            <a href="product/list?labels=3">
                                                <div class="bc">包车畅游</div>
                                            </a>
                                            <a href="product/list?labels=8">
                                                <div class="js">机场接送</div>
                                            </a>
                                        </div>
                                        <div class="button">
                                            <a href="index.html">
                                                <div class="back" id="back">返回首页</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

    </div>
</div>
<div style="margin-top: -20%">
    <div class="model">
    </div>
    <div class="block">
        <div class="close">
            <!-- <i class="fa fa-remove-sign gray"></i> -->
            <img th:src="@{/static/images/index/close.jpg}" width="30px"/>
        </div>
        <div class="pull_left"><img th:src="@{/static/images/index/logo_plan.png}" width="60px"/></div>
        <div class="pull_right">
            <div class="send_info">验证码已发送到您的手机</div>
            <div class="mobile"></div>
        </div>
        <div class="input">
            <input type="input" id="mobile_code" placeholder="请输入验证码"/>

            <div class="code_error">输入错误，验证码已重新发送</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    slider
    $(function () {
        slider = new TouchSlider('slider', {
            duration: 800,
            interval: 3000,
            direction: 0,
            autoplay: false,
            mousewheel: false,
            mouse: false,
            fullsize: true
        });
    });

    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-red',
            radioClass: 'iradio_square-red',
            increaseArea: '10%'
        });
    });
</script>
<script th:src="@{/static/js/index/jquery.mailAutoComplete-4.0.js}"/>
<script th:src="@{/static/comp/icheck-1.x/icheck.min.js}"/>
<script th:src="@{/static/js/underscore-min.js}"/>
<script th:src="@{/static/comp/bootstrap-3.3.5/dist/js/bootstrap.min.js}"/>
<script th:src="@{/static/comp/My97DatePicker/WdatePicker.js}"/>
<script th:src="@{/static/js/index/touchslider.2.1.js}"/>
<script th:src="@{/static/js/index/zlDate_plan.js}"/>
<script th:src="@{/static/js/index/common.js}"/>
<script th:src="@{/static/js/index/create.js}"></script>

</body>
</html>