@charset "UTF-8";

body {
    font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover, a:focus {
    text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;
    font: inherit;
    vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

b {
    font-weight: 700;
}

body {
    line-height: 1.4em;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**====reset end======**/
img {
    vertical-align: middle;
}

.rel {
    position: relative;
}

.pipe {
    padding: 0 6px;
}

.fl {
    float: left;
}

.ow {
    overflow: hidden;
    zoom: 1;
}

.tc {
    text-align: center;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.vm {
    vertical-align: middle;
}

.layout {
    margin: 0 auto;
    max-width: 990px;
    font-family: 'microsoft yahei', Arial;
}

.clearfix {
    clear: both;
}

.img {
    display: block;
}

/*============end common=================*/

/*============header=================*/
.header {
    font-size: 12px;
    color: #AAA;
    background-color: #fff;
    border-bottom: 1px solid #EEE;
}

.product-nav-badge {
    background: url(../../images/index/icon_new.gif) 0 0 no-repeat;
    position: absolute;
    top: -4px;
    right: -25px;
    font-weight: normal;
    width: 30px;
}

.hot-nav-badge {
    background: url(../../images/index/icon_hot.gif) 0 0 no-repeat;
    position: absolute;
    top: -4px;
    right: -25px;
    font-weight: normal;
    width: 30px;
}

/*主页用*/
.product-nav-badge-i {
    background: url(../../images/index/icon_new.gif) 0 0 no-repeat;
    position: absolute;
    top: 2px;
    right: -14px;
    font-weight: normal;
    width: 30px;
}

/*顶部第一行---------*/
/*容器*/
.head-bar {
    padding-top: 7px;
    height: 63px;
}

/*logo*/
.navbar-brand {
    padding-top: 0px;
    padding-left: 0px;
}

/*搜索框 容器*/
.head-bar .header-search-bar {
    padding: 6px 0 0 30px;
    border: 1px solid #BBB;
}

/*搜索框*/
.head-bar .header-search-bar .search-box {
    height: 35px;
    border: 2px solid #eee;
    border-radius: 5px;
    width: 330px;
    line-height: 30px;
    display: table;
}

@-moz-document url-prefix() {
    .head-bar .header-search-bar .search-box {
        height: 35px;
        border: 2px solid #eee;
        border-radius: 5px;
        width: 330px;
        display: table;
        line-height: inherit;
    }
    .search-box {

    }

    .submit-box .header_img {
        height: 1.5em;
        margin-top: -20px;
        margin-right: -10px;
    }
}

.header_img {
    height: 1.5em;
    margin-top: -7px;
    margin-right: -10px;
}

.nav-block {
    height: 35px;
}

/*搜索框外围*/
.head-bar .header-search-bar .search-box .pub-ipt-city {
    display: table-cell;
    width: 84%;
    height: 30px;
}

.pub-ipt-city input {
    line-height: 30px;
}

/*搜索按钮*/
.head-bar .header-search-bar .search-box .submit-box {
    background-color: #EEE;
    width: 16%;
    text-align: center;
    color: #AAA;
    display: table-cell;
}

.head-bar .header-search-bar .search-box .submit-box .submit {
    border: 0px;
    line-height: 20px;
    padding: 0px;
    background-color: transparent;
}

/*==右边按钮 LOGIN==*/
.navbar-right {
    padding-top: 10px;
}

.navbar-right {
    padding-top: 10px;
}

.navbar-right .header-a {
    padding-right: 30px;
    color: #AAA;
}

/*==登录后header显示内容==*/
#function-btn {
    margin-top: -10px;
}

/*头像*/
#function-btn #header-avatar {
    width: 47px;
    height: 47px;
}

/*昵称栏*/
#function-btn #header-username {
    min-width: 40px;
    display: inline-block;
    padding-left: 8px;
    text-align: left;
    font-size: 12px;
    color: #AAA;

}

a.header-msg {
    color: #FF5A5F;
    padding: 8px 15px 8px 15px;
}

a.header-msg .badge {
    background-color: #fd6e6e;
    font-size: 10px;
}

/*====导航栏=====*/
#main-menu .nav-link li {
    text-align: center;
    padding: 8px 0 4px 0;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-banner-black {
    background-color: #777777;
    margin-top: 9px;
    /*margin-bottom:35px;*/
}

#main-menu .nav-link li > a,
#main-menu .nav-link li > a:visited {
    color: #CCC;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}

#main-menu .nav-link li.cur {
    border-bottom: 4px solid #ff5a5f;
}

#main-menu .nav-link li.li-placeholder {
    border-bottom: 4px solid transparent;
}

#main-menu .nav-link li.cur > a,
#main-menu .nav-link a:hover {
    color: #fff !important;
}

.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
}

#main-menu .nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}

/*--=E bootstrap overwrite--*/

/*=#footer=*/
#footer {
    background-image: url(../../images/index/foot.png);
    padding-bottom: 15px;
}

#footer > .footer-hd {
    padding-top: 25px;
    padding-bottom: 25px;
}

#footer > .footer-bd {

}

.footer-bd .links {
    position: relative;
    color: #fff;
    border-top: 1px solid #666;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 12px;
}

.links2 {
    position: relative;
    overflow: hidden;
    color: #BBB;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 12px;
}

.footer-bd .links .title {
    font-weight: bold;
    padding-bottom: 9px;
    font-size: 12px;
}

.footer-bd .links p {
    padding-bottom: 4px;
}

.footer-bd .links a {
    color: #fff;
}

.footer-bd .links > a {
    float: left;
    padding: 0 15px;
    color: #888;
    font-size: 12px;
    text-decoration: none;
}

.footer-bd .links > a:first-child {
    padding-left: 0;
    border: 0 none;
}

.footer-bd .links > a:hover {
    text-decoration: underline;
}

/*
.footer-bd .footer-copy{
    position: absolute;
    left: 0;
}*/

.footer-ft .go-top-fixed {
    position: absolute;
    right: -50px;
    z-index: 99999;
}

.footer-ft .go-top {
    position: fixed;
    bottom: 10%;
    display: block;
    padding-top: 70px;
    width: 70px;
    height: 0;
    background: url(../../images/index/a-u.png) #333 center center no-repeat;
    overflow: hidden;
}

.footer-ft .qc-code {
    position: fixed;
    bottom: 12%;
    display: block;
    padding-bottom: 100px;
}

.footer-ft #J_kefu {
    position: fixed;
    bottom: 9%;
    display: block;
    padding-bottom: 100px;
}

.slide-bottom-pub .pub-ipt-list {
    width: 630px;
    border-radius: 6px;
}

.slide-bottom-pub .pub-ipt-list .pub-ipt {
    width: 180px;
    font-size: 14px;
    font-family: 'microsoft yahei';
}

.slide-bottom-pub .pub-btn {
    position: absolute;
    left: -30px;
    top: 0;
    display: block;
    width: 190px;
    height: 40px;
    overflow: hidden;
    background-color: #ff5a5f;
    border-radius: 3px;
    border: 0 none;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
}

/*=publish-bar=*/
.publish-bar {
    position: relative;
    padding-right: 180px;
}

.publish-bar .pub-ipt-list {
    padding: 7px 0 5px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.pub-ipt-list .pub-ipt {
    padding: 5px;
    margin-right: 15px;
    width: 135px;
    height: 25px;
    font-size: 14px;
    border: 0 none;
    border-right: 1px solid #ddd;
    font-family: 'microsoft yahei';
    display: block;
    float: left;
}

.pub-ipt-city .ms-ctn {
    position: relative;
    padding: 0px;
    height: auto;
}

.pub-ipt-city .ms-ctn-focus {
    borde: 0px;
    outline: 0px none;
    box-shadow: 0px 0px 0px;
}

.pub-ipt-city .form-control {
    width: 100%;
    font-size: 14px;
    line-height: inherit;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
}

.pub-ipt-city .ms-sel-ctn {
    /*display:inline;*/
}

.pub-ipt-list .pub-ipt:focus {
    outline: none;
}

.pub-ipt-list .pub-ipt:last-child {
    margin-right: 0;
    border: 0 none;
}

.publish-bar .plan-pub {
    position: absolute;
    right: 0;
    top: 0;
}

/*=btn=*/

.xb-btn-m {
    display: inline-block;
    text-align: center;
    border: 0 none;
    background-color: #fff;
    color: #ff5a5f;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ff5a5f;
    font-family: 'microsoft yahei';
}

.xb-btn-m {
    width: 90px;
    height: 30px;
    line-height: 28px;
    border-radius: 5px;
    font-size: 12px;
}

.xb-btn-m-org,
.xb-btn-org {
    display: inline-block;
    text-align: center;
    border: 0 none;
    background-color: #ff5a5f;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: 'microsoft yahei';
    border-radius: 5px;
}

.xb-btn-m-org:hover, .xb-btn-m-org:focus {
    color: #fff;
    text-decoration: none;
}

.xb-btn-m:hover, .xb-btn-m:focus {
    color: #FF5A5F;
    text-decoration: none;
}

.xb-btn-m-org {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.xb-btn-org {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

/*===========END from LANLAN ==================*/

/*=====登录注册页面用======*/
#login-panel, #register-panel, #howtobe-panel {
    line-height: 1em;
}

.user-pw-input {
    margin: 0 auto 20px auto;
    width: 60%;
}

.user-pw-btn {
    margin: 0 auto;
    width: 30%;
}

@media (max-width: 767px) {
    .user-pw-input {
        margin: 0 auto 20px auto;
        width: 90%;
    }

    .user-pw-btn {
        margin: 0 auto;
        width: 60%;
    }

    #login-panel .modal-dialog {
        width: 95%;
    }

    .sns-logo-panel {
        margin: 0px auto 0px auto;
    }

}

.sns-logo-panel {
    margin: 25px auto 25px auto;
}

.sns-logo-panel ul li, .sns-logo-panel2 ul li {
    float: left;
    width: 25%;
}

.sns-logo {
    display: block;
    margin: 0 auto;
    width: 58px;
    height: 58px;
    background: url(../../images/index/sns-logo.png) no-repeat;
}

.weibo-logo {
    background-position: 0px 0px;
}

.qq-logo {
    background-position: -60px 0px;
}

.fb-logo {
    background-position: -120px 0px;
}

.sns-logo-panel .help-block, .sns-logo-panel2 .help-block {
    margin: 15px auto;
}

.close-button {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 20px;
    cursor: pointer;
}

/*--登录 注册 页面-*/
.div-reg {
    width: 460px;
    height: 400px;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: 25%;
    left: 35%;
}

.header-sm {
    /*border-bottom: 1px solid #ddd;*/
    margin-bottom: 15px;
}

.div-reg form {
    margin-left: 20px;
    border-bottom: 1px solid #ddd;
}

.div-reg label {
    text-align: left !important;
}

/*加入收藏夹按钮*/
.add-favorite {
    height: 28px;
    font-size: 11px;
}

/*============元件=================*/

/*----矩形边框----*/
.iwrpper,
.iwrpper-head,
.iwrpper-body {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.iwrpper-head {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0; /*圆角*/
}

.iwrpper-body {
    margin-top: 0;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    padding-left: 8px;
    padding-right: 6px;
}

.iwrpper-one {
    padding-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: none;
}

/*----单选框----*/
#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

div.section {
    margin-top: 25px;
}

/*-----section------*/
h2.section:first-child {
    margin-top: 0;
}

h2.section {
    position: relative;
    font-size: 120%;
    font-weight: normal;
    height: 38px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    text-shadow: 1px 1px 0px #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));

    background-color: #f8f8f8;

    border: 1px solid #ccc;
    overflow: hidden;
    -webkit-box-sizing: content-box;

    box-sizing: content-box;
    -webkit-box-shadow: 0 1px 0 #fff inset, 1px 0 0 #fff inset, -1px 0 0 #fff inset, 0 -1px 0 #fff inset;

    box-shadow: 0 1px 0 #fff inset, 1px 0 0 #fff inset, -1px 0 0 #fff inset, 0 -1px 0 #fff inset;
}

h2.section {
    font-size: 120%;
    font-weight: normal;
    line-height: 40px;
    color: #333;
    text-shadow: 1px 1px 0px #fff;
}

h2.section span {
    border-left: 6px #FD6E6E solid;
    padding-left: 7px;
}

/*----删除日期的X按钮----*/

.del {
    line-height: 1.4;
    float: left !important;
}

.tour-tag {
    cursor: pointer;
    white-space: nowrap;
}

/*----旅行元素热度----*/
.tour-tag-lv1 {
    font-size: 12px;
}

.tour-tag-lv2 {
    font-size: 14px;
}

.tour-tag-lv3 {
    font-size: 16px;
}

.tour-tag-lv4 {
    font-size: 18px;
}

.tour-tag-lv5 {
    font-size: 20px;
}

.tour-tag-lv6 {
    font-size: 22px;
}

.tour-tag-lv7 {
    font-size: 24px;
}

.tour-tag-lv8 {
    font-size: 26px;
}

.tour-tag-lv9 {
    font-size: 28px;
}

.tour-tag-lv10 {
    font-size: 30px;
}

/*----旅行元素的类型----*/
.tour-tag-style {
    color: black;
}

.tour-tag-try {
    color: blue;
}

.tour-tag-see {
    color: green;
}

.tour-tag-eat {
    color: orange;
}

.tour-tag-buy {
    color: red;
}

/*--------------*/

.top-buttom-block {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    clean: both;
}

.div-money,
.div-see-more {
    display: block;
    padding-top: 15px;
    text-align: right;
}

.price {
    color: #F08080;
    font-size: 15px;
    font-weight: bold;
}

/*-----留言板------*/
#comments {
    margin-top: 20px;
}

.widget .panel-body {
    padding: 0px;
}

.widget .list-group {
    margin-bottom: 0;
}

.widget .panel-title {
    display: inline
}

.widget .label-info {
    float: right;
}

.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
    background-color: rgba(86, 61, 124, .1);
}

.widget .mic-info {
    color: #666666;
    font-size: 11px;
    float: right;
}

.widget .action {
    float: right;
    margin-top: 5px;
}

.widget .comment-text {
    font-size: 13px;
}

.widget .btn-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/***页面标题***/
.page-header button {
    margin-left: 15px;
}

/***页面上的醒目文字***/
.attention {
    color: red;
}

/***支付界面 选择支付方式的方块***/
.select-pay-way {
    height: 150px;
}

/***页面标题***/

.btn-row {
    margin-top: 20px;
}

/*导游徽章*/

.guide-badge {
    display: inline-block;
    padding: 3px 6px;
    color: #fff;
    font-size: 14px;
    background-color: #ff9b30;
    line-height: 19px;
}

/*点选用标签*/
.tag-for-select li {
    display: inline;
    font-size: 0.6em;
    cursor: pointer;
    padding: 1px 12px 1px 0;

}

.tag-for-select li span {
    white-space: nowrap;
}

/*多选组件 选中内容的显示*/
.tag-selected li {
    display: inline;
    font-size: 1.1em;
    cursor: pointer;
    padding: 1px 12px 1px 0;
    margin-right: 5px;
}

.tag-selected li div.tag-selected-item {
    display: inline-block;
    white-space: nowrap;
}

/*面包屑导航*/
.breadcrumb-navi {
    padding: 8px 15px;
    margin-bottom: 20px;
}

/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

.btn-breadcrumb .btn:first-child {
    padding: 6px 6px 6px 10px;
}

.btn-breadcrumb .btn:last-child {
    padding: 6px 18px 6px 24px;
}

.breadcrumb-navi .action {
    background-color: #428bca;
    color: #fff;
}

.breadcrumb-navi .action:not(:last-child):after {
    border-left-color: #428bca !important;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-breadcrumb > *:nth-child(n+2) {
    display: none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width: 991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}

/*日期（范围选定）*/

.date-range {
    display: table;
}

.date-range .date-range-e,
.date-range .date-range-s {
    width: 140px;
}

.date-range .date-range-s {
    margin-left: 15px;
}

@media (max-width: 380px) {
    .date-range .date-range-e,
    .date-range .date-range-s {
        width: 116px;
        margin-bottom: 6px;

    }

    .date-range .date-range-s {
        margin-left: 0;
    }

    .choose-city {
        padding-left: 0;
    }

}

.date-range .date-range-s {
    display: table-cell;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-right: 12px;
}

.date-range .date-range-m {
    display: table-cell;
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    color: #555;;
    line-height: 1;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
}

.date-range .date-range-e {
    display: table-cell;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

/*掌握语言水平 选择列表*/
.choose-lang-level li {
    display: inline-block;
    white-space: nowrap;
}

/*确定按钮*/
.ok-btn {
    width: 180px;
    /*padding-left:80px;
    padding-right:80px;*/
}

/*页面内部大标题*/
.page-header h3 {
    display: inline;
}

/*微信公众账号QR*/
#weixin_qr {
    position: fixed;
    top: 380px;
    right: 20px;
}

#weixin_qr img {
    width: 100px;
    height: 100px;
}

#weixin_qr p {
    color: #00CED1;
}

/*留言板 头像*/
.commnt-sender-avatar {

}

/*行程列表里显示的城市*/
.plan_li_place {
    padding: 0.5px;
    margin-right: 2px;
}

/*错误信息*/
.error-block {
    color: red;
    display: block;
}

/*行程列表里显示的城市*/
.dest {
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 11px !important;
    line-height: 99%;
    margin-right: 2px;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border-color: #ccc;
    /*color: #333;*/
    color: #3594cb;
}

/*不显示模式*/
.noview {
    border-color: transparent;
    background-color: transparent;
    color: #000;
}

/* fieldset*/
.row-inner {
    margin-bottom: 15px;
}

.r1 {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}

.r2 {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}

.input-group-addon-m {
    min-width: 75px;
}

.input-group-addon-l {
    min-width: 83px;
}

.rectangle {
    border-radius: 5px;
}

.btn_remote_course {
    line-height: 34px;
    cursor: pointer;
    color: #AAA;
    font-size: 13px;
}

.isNeedGuide {
    line-height: 34px;
}

.hr {
    margin: 12px 15px 12px 15px;
    line-height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
    clear: both;
}

.publish-trip-help {
    float: right;
}

@media (max-width: 380px) {
    .publish-trip-help {
        clear: left;
        float: left;
    }
}

.datetimepicker_elemet {
    padding-bottom: 6px;
}

.header-div {
    float: left;
    padding-right: 30px;
    line-height: 30px;
}

.list_city_info {
    position: absolute;
    text-align: center;
    /* top: 130px; */
    width: 100%;
    color: #fff;
    z-index: 100;
    font-size: 55px;
    text-shadow: 0 0 12px #000;
    font-weight: 600;

}

.list_city_info2 {
    /* position: absolute; */
    text-align: center;
    /* top: 200px; */
    width: 100%;
    color: #fff;
    z-index: 100;
    font-size: 40px;
    text-shadow: 0 0 12px #000;
    font-weight: 600;

}

.city_info-count {
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    color: #fff;
    z-index: 100;
    font-size: 17px;
    text-shadow: 0 0 6px #000;
}

.city_div {
    margin-top: -50px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 50%;
}

.city_nav_layar,
.city_nav_content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 53px;
}

.city_nav_layar {
    background-color: #000;
    opacity: 0.5;
}

.city_nav_content-inner {
    position: relative;
    width: 990px;
    margin: 0 auto;
}

.city-nav li {
    line-height: 53px;
    height: 53px;
    margin-right: 56px;
    float: left;
    font-size: 13px;
    margin-left: 30px;
    margin-right: 30px;
}

.city-nav li.cur {
    border-bottom: 3px solid #FF5A5F;
}

.city-nav li a {
    color: #fff;
    font-size: 16px;

}

.header-guide {
    margin-top: 0px;
    line-height: 42px;
}