body {
    background-color: #f9f9f9;
}

.header-index {
    position: absolute;
    width: 95%;
    margin: 0 auto;
    top: 10px;
    left: 35px;
    z-index: 1000;
    font-size: 14px;
    color: #fff !important;
}

.header-index .nav-link {
    margin-left: 25px;
    color: #fff;
}

.header-index .nav-link li {
    line-height: 20px;
}

.header-index .nav-link li > a, .nav-link li > a:visited {
    color: #fff;
    font-size: 14px;
}

.header-index .nav-link li > a:hover {
    background-color: transparent;
}

.header-index .navbar-right .header-a {
    padding-right: 0px;
    color: #f3f3f3;
}

.header-index .navbar-right .header-a .fa-caret-down {
    color: #CCC;
}

/*=banner-slide=*/
.banner-slide {
    position: relative;
    width: 100%;
}

.banner-slide .slide-bd {
    height: 540px;
    overflow: hidden;
}

.slide-bd .slide-panels {
    position: relative;
}

.slide-panels .s-panel {
    position: absolute;
    top: 25px;
    left: -15px;
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-position: center 170px;
}

.slide-panels .home-header-bg {
    /*background: url(../../images/index/main4.jpg) no-repeat;*/
}

.banner-slide .slide-hd {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.slide-hd .s-btn {
    position: absolute;
    display: block;
    width: 34px;
    height: 0;
    padding-top: 60px;
    overflow: hidden;
    top: 225px;
    cursor: pointer;
}

.slide-hd .left {
    background: url(../../images/index/a-l.png) no-repeat;
    left: 12px;
}

.slide-hd .right {
    background: url(../../images/index/a-r.png) no-repeat;
    right: 12px;
}

.banner-slide .slide-ft {
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 150px;
    z-index: 2;
}

.slide-ft .slide-bottom-pub {
    padding-top: 20px;
    width: 150px;
}

/*=how-to-use=*/
.how-to-use {
    padding-top: 35px;
    color: #666;
    text-align: center;
    line-height: 1.6em;
    font-size: 14px;
}

.how-to-use .img {
    margin-bottom: 6px;
    margin-top: 10px;
}

.how-to-use .use-item {
    display: inline-block;
    margin: 0 8px;
    width: 310px;
}

.how-to-use .use-item img {
    height: 180px;
}

.how-to-use .use-item > strong {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

.how-to-use .more {
    line-height: 2em;
    color: #ff5a5f;
    font-size: 16px;
}

/*=collection=*/
.collection {
    width: 990px;
    padding-top: 45px;
    color: #666;
    text-align: center;
    line-height: 1.6em;
    font-size: 14px;
    margin-bottom: 60px;
}

.collection > dt .img {
    margin-bottom: 6px;
}

.collection > dd {
    overflow: hidden;
}

.mb20 {
    margin-top: 35px;
}

.collection .collect-list {
    width: 990px;
    margin-top: 15px;
}

.collection .collect-list .collect-item {
    width: 25%;
    float: left;
    padding: 8px 10px 12px 0px;
    text-align: left;
}

.collection .collect-list .collect-item .collect-item-inner {
    border: 1px solid #CCC;
    background-color: #FFF;
}

.collection .collect-list .collect-item .collect-item-inner:hover {
    background-color: #F8F8FF;
    border: 1px solid #FF5A5F;
}

.collection .collect-list .collect-item .cover {
    height: 226px;
    overflow: hidden;
}

.collection .collect-list .collect-item img {
    width: 100%;
}

.collection .collect-list .collect-item .avt {
    height: 78px;
    overflow: hidden;
    padding: 8px 0 0 20px;
    font-size: 13px;
}

.collection .collect-list .collect-item .avt .nickname, .collection .collect-list .collect-item .avt .work {
    color: #666;
}

.collection .collect-list .collect-item .avt .city {
    color: #AAA;
}

/*============*/
.collection-city-col {
    width: 320px;
    float: left;
    margin-right: 10px;
}

.collection-city {
    margin: 15px 0;
}

.collection-city img {
    width: 315px;
}

.nav_link {
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav_link .nav {
    float: left;
    width: 330px;
}

.nav_link .nav .img {
    width: 72px;
    /* margin-left: 46px; */
}

.nav_link .nav .title {
    font-size: 20px;
}

.nav_link .nav .title_2 {
    color: #aaa;
    margin-top: 7px;
}

.right {
    margin-left: 90px;
}

/*======== slide begin =======*/
.focus {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.focus .hd {
    display: none
}

.focus .bd {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.focus .bd li img {
    width: 100%;
    min-height: 185px;
}

.focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
}

.slide .slide_left {
    float: left;
    position: absolute;
    z-index: 999;
    left: 40px;
    height: 100%;
}

.slide .slide_left .img {
    float: left;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
    background: url("../../images/index/icon.png") no-repeat -57px -344px;
}

.slide .slide_right {
    float: right;
    position: absolute;
    z-index: 999;
    height: 100%;
    right: 140px;
}

.slide .slide_right .img {
    float: right;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
    background: url("../../images/index/icon.png") no-repeat -1791px -344px;
}
/*
#slider {
    max-height: 400px;
    position: relative;
    transition: none;
    width: 4656px;
    left: 0px;
}
*/

/*======== slide end =======*/

/*======== help begin =======*/
.help-list {
    width: 200px;
    right: 0px;
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
}

.help-list li {
    float: left;
    width: 100%;
    height: 33px;
    line-height: 30px;
}

.help-list li:hover {
    background-color: #E8E4E4;
}

.help-list li a {
    color: #000;
    height: 100%;
    text-indent: 10px;
    float: left;
}

.help-list .top {
    background: url(../../images/index/top.png) no-repeat;
    width: 17px;
    height: 9px;
    position: absolute;
    left: 145px;
    top: -9px;
}

.header-height {
    margin-top: -20px;
}

/*======== help end =======*/
.lines {
    float: left;
    width: 100%;
    height: 76px;
    border-top: 1px solid #e9e9e9;
}

.city_info {
    text-align: right;
    margin-top: -30px;
    height: 30px;
    line-height: 30px;
    margin-right: 15px;
    color: #fff;
    font-size: 20px;
}